<%= form_for(@chan) do |f| %>
  <% if @chan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chan.errors.count, "error") %> prohibited this chan from being saved:</h2>

      <ul>
      <% @chan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
