<p id="notice"><%= notice %></p>

<h1>Listing Chans</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chans.each do |chan| %>
      <tr>
        <td><%= link_to 'Show', chan %></td>
        <td><%= link_to 'Edit', edit_chan_path(chan) %></td>
        <td><%= link_to 'Destroy', chan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chan', new_chan_path %>
